body {
    font-family: Arial;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    background-color: #ccc;
}
pre.taglist a {
    color: #555;
}
table.highlight {
    border: 1px solid #bbb;
    border-collapse: collapse;
    box-shadow: 2px 2px 4px 1px grey;
}
table.highlight tr th, table.highlight tr td {
    border: 1px solid #bbb;
    padding: 2px 3px 2px 3px;
    vertical-align: top;
}
table.highlight tr td.yaml {
    max-width: 20em;
    font-size: 93%;
}
table.highlight tr td.id {
    font-size: 110%;
    background-color: #f8f8f8;
}
table.highlight tr td.id:target {
    background-color: yellow;
}
table.highlight tr td.input {
    border-right: 3px solid #bbb;
}
table.highlight tr th {
    background-color: #f8f8f8;
    border-bottom: 3px solid #bbb;
}
pre {
    max-width: 20em;
    padding: 2px;
    overflow-x: auto;
}
pre.error {
    border: 1px solid red;
}
pre.diff {
    border: 1px solid #ff9900;
}

