^/local/
^/.build/
/cover_db/
/gh-pages/
/yts/
/etc/utils/generated/
/etc/html/indent.html
/etc/html/taglist.html
/etc/html/header1.html
/etc/html/header2.html
etc/html/seqindent.html
etc/html/quote.html
/YAML-Tidy-*
/.build/
/etc/docker/perl5/
